<ion-header>
  <ion-toolbar>
    <ion-title>
      Devices
    </ion-title>
    <ion-button (click)="ble.scan()" [disabled]="ble.scanning || ble.wearable.name != 'Not Connected'" slot="end">
      <ion-icon name="Bluetooth"></ion-icon>
      <ion-label>{{ble.scanning ? 'Scanning' : 'Scan'}}</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Wearable</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ble.wearable.name}}
      <ion-button *ngIf="ble.wearable.name != 'Not Connected'" (click)="ble.disconnect( ble.wearable )" class="ion-float-right" center>
        Disconnect
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-card ion-item *ngFor="let device of ble.scannedDevices">
      <ion-card-content>
        {{device.name}} - {{device.id}}
        <ion-button class="ion-float-right" (click)="ble.connect(device)">
          Connect
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
