<ion-header>
  <ion-toolbar>
    <ion-title>
      Saved Data
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-segment [(ngModel)]="segment" (ionChange)="onSegmentChanged()">
    <!--Default display force data-->
    <ion-segment-button value="force" checked>
      <ion-label>Force</ion-label>
    </ion-segment-button>
    <ion-segment-button value="imu">
      <ion-label>IMU</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div>
    <ion-card [hidden]="segment != 'force'">
      <div id="forceChartSaved" style="width:100%; height:490px;"></div>
    </ion-card>
  
    <ion-card [hidden]="segment != 'imu'">
      <div #imuVisualizationSaved style="width:100%; height:490px;"></div>
    </ion-card>
  </div>

  <div>
    <ion-row>
      <ion-select #select [interfaceOptions]="selectOptions" (ionChange)="sessionChanged($event)" placeholder="Select a session">
        <ion-select-option *ngFor="let session of sessions" [value]="session">{{session.name}}</ion-select-option>
      </ion-select>
    </ion-row>
  </div>

</ion-content>
