<ion-header>
  <ion-toolbar>
    <ion-title>
      Live Data
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="!this.ble.connected.value ? 'blurred' : ''">
  <ion-segment [(ngModel)]="segment" (ionChange)="onSegmentChanged()">
    <!--Default display force data-->
    <ion-segment-button value="force" checked>
      <ion-label>Force</ion-label>
    </ion-segment-button>
    <ion-segment-button value="imu">
      <ion-label>IMU</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div>
    <ion-card [hidden]="segment != 'force'">
      <div id="forceChartLive" style="width:100%; height:520px;"></div>
    </ion-card>
  
    <ion-card [hidden]="segment != 'imu'">
      <div #imuVisualizationLive style="width:100%; height:520px;"></div>
    </ion-card>
  </div>
</ion-content>
